#  __  __    _    ____  ____  
# |  \/  |  / \  |  _ \/ ___| 
# | |\/| | / _ \ | | | \___ \ 
# | |  | |/ ___ \| |_| |___) |
# |_|  |_/_/   \_\____/|____/ 
#
# Linux Systemd service file for mads-sync_handler, a mads-filter agent
# Notice that the settings file will be read from 
# /usr/local/etc/mads.ini
#
# Save this file to /etc/systemd/system/mads-sync_handler.service
# Or run "sudo mads service sync_handler filter -s tcp://10.42.0.1:9092 sync_handler.plugin -o side=left" 
# then run "sudo systemctl enable mads-sync_handler.service"

[Unit]
Description=mads-sync_handler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/mads-filter -s tcp://10.42.0.1:9092 sync_handler.plugin -o side=left

[Install]
WantedBy=multi-user.target
