#  __  __    _    ____  ____  
# |  \/  |  / \  |  _ \/ ___| 
# | |\/| | / _ \ | | | \___ \ 
# | |  | |/ ___ \| |_| |___) |
# |_|  |_/_/   \_\____/|____/ 
#
# Linux Systemd service file for mads-eye_tracker, a mads-test agent
# Notice that the settings file will be read from 
# /usr/local/etc/mads.ini
#
# Save this file to /etc/systemd/system/mads-eye_tracker.service
# Or run "sudo mads service eye_tracker test " 
# then run "sudo systemctl enable mads-eye_tracker.service"

[Unit]
Description=mads-eye_tracker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/crutch/instrumented_crutches_mads/eye_tracker
ExecStart=/home/crutch/instrumented_crutches_mads/eye_tracker/venv/bin/python pupil_neon.py

[Install]
WantedBy=multi-user.target
